ass_2_group/P2/copied.c
ass_2_group/P3/trace
ass_2_group/P1/server
ass_2_group/P2/tftp
ass_1_group/P2/d1/
ass_1_group/P2/d2/
ass_1_group/P2/d3/
ass_1_group/P2/d4/
ass_1_group/P2/client
ass_1_group/P2/d_server
ass_1_group/P2/m_server
